{% extends 'adminbase.html.twig' %}

{% block title %}Edit Messages{% endblock %}

{% block body %}
    <section id="main-content" xmlns="http://www.w3.org/1999/html">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Comment Page</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <h1>Comment Edit</h1>

                    {{ include('admin/comment/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('admin_comment_index') }}"><button type="button" class="btn btn-theme02">Back to list </button></a>

                    {{ include('admin/comment/_delete_form.html.twig') }}
                </div>
            </div>
        </section>
        <!-- /wrapper -->
    </section>
    </div>
{% endblock %}